<%function renderComment(comment, n) {%>
  <% var upvote = "/tinygreyupvote.ico" %>
  <% var downvote = "/tinygreydownvote.ico" %>
  <% var margins = "margin-left: 40px;" %>
  <div class="commentDepth">
  <li style="list-style: none;" class="content-item">
    <hr>
    <table>
      <tr>
        <td><a><img src=<%=upvote%>></img></a></td>
        <td><p class="createdby">Post by <span class="usercreater"><%=comment.user.username%></span></p></td>
      </tr>
      <tr>
        <td><p class="votescore"></p></td>
        <td><a class="contentpost"><%=comment.text%></a></td>
      </tr>
      <tr>
        <td><a><img src=<%=downvote%>></img></a></td>
        <td><a class="comments" href="">Direct Link</a></td>
      </tr>
    </table>
  </li>
  <hr>
  <%if (comment.children) {%>
    <%comment.children.forEach(function(child) {%>
      <%renderComment(child, n + 10);%>
    <%});%>
  <%}%>
</div>
<%}%>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/comment.css" rel="stylesheet" type="text/css">
    </head>
    <body>
      
      <nav>
      <% if (user) { %>
        <h4 id="welcomeuser">Welcome <span id="user"><%=user.username%></span></h4>
        <a href=/Logout class="link">Logout</a>
        <a href=/CreateContent class="link">Create Content</a>
      <% } else { %>
        <a href=/SignUp class="link">Sign Up</a>
        <a href=/Login class="link">Login</a>
      <% } %>
      </nav>
      
      <main>
      <div id="contents">
        <a id="heading" href=<%=content.url%>><%=content.title%></a>
        <ul class="contents-list">
          <span id="contentList">
            <form action=<%-"/comment/" + content.id%> method="post">
              <label for="comment"><span>Comment:</span><input type="text" class="input-field" name="comment" value="" maxlength="255"/></label>
              <label><span>&nbsp;</span><input type="submit" value="Reply" /></label>
            </form>
            
            <article>
            <%comments.forEach(renderComment, 0);%>
            </article>
            
          </span>
        </ul>
      </div>
      </main>
      
    </body>
</html>
