<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
      <% if (user) { %>
        <a>Welcome <%=user%></a>
        <a href=/Logout>Logout</a>
        <a href=/CreateContent>Create Content</a>
      <% } else { %>
        <a href=/SignUp>Sign Up</a>
        <a href=/Login>Login</a>
      <% } %>
      <div id="contents">
        <h1>List of contents</h1>
        <ul class="contents-list">
          <span id="contentList">
            <% contentList.forEach(function(content) { %>
              <% var upvote = "tinygreyupvote.ico" %>
              <% var downvote = "tinygreydownvote.ico" %>
              <% if (content.upVote === 1) { %>
                <% upvote = "tinyredupvote.ico"; %>
              <% } else if (content.upVote === 0){ %>
                <% downvote = "tinybluedownvote.ico"; %>
              <% } %>
              <li style="list-style: none;"class="content-item">
                <h2 class=<%-content.title%>>
                  <a><%=content.voteScore%></a>
                  <a href=<%-"/upvote/" + content.id%>><img src=<%=upvote%>></img></a>
                  <a href=<%-"/downvote/" + content.id%>><img src=<%=downvote%>></img></a>
                  <a href=<%-content.url%>><%-content.title%></a>
              </h2>
              <p>Created by <%-content.submitter%></p>
            </li>
            <% })%>
          </span>
        </ul>
      </div>
    </body>
</html>
