<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/homepage.css" rel="stylesheet" type="text/css">
    </head>
    <body>
      <% if (user) { %>
        <h4 id="welcomeuser">Welcome <span id="user"><%=user%></span></h4>
        <a href=/Logout class="link">Logout</a>
        <a href=/CreateContent class="link">Create Content</a>
      <% } else { %>
        <a href=/SignUp class="link">Sign Up</a>
        <a href=/Login class="link">Login</a>
      <% } %>

      <div id="orderbylinks">
        <a href=/hot class="getlink">Hot</a>
        <a href=/controversial class="getlink">Controversial</a>
        <a href=/top class="getlink">Top</a>
        <a href=/latest class="getlink">Latest</a>
      </div>

      <div id="contents">
        <h1 id="heading">List of contents</h1>
        <ul class="contents-list">
          <span id="contentList">
            <% contentList.forEach(function(content) { %>
              <% var upvote = "/tinygreyupvote.ico" %>
              <% var downvote = "/tinygreydownvote.ico" %>
              <% if (content.upvote === 1) { %>
                <% upvote = "/tinyredupvote.ico"; %>
              <% } else if (content.upvote === 0){ %>
                <% downvote = "/tinybluedownvote.ico"; %>
              <% } %>
              <li style="list-style: none;"class="content-item">
                <hr>
                <table>
                  <tr>
                    <form action=<%-"/upvote/" + type + "/" + content.id%> method="post">
                      <td><input type="image" src=<%=upvote%>></td>
                    </form>
                    <td><p class="createdby">Post by <span class="usercreater"><%-content.submitter%></span></p></td>
                  </tr>
                  <tr>
                    <td><p class="votescore"><%=content.votescore%></p></td>
                    <td><a class="contentpost" href=<%-content.url%>><%-content.title%></a></td>
                  </tr>
                  <tr>
                    <form action=<%-"/downvote/" + type + "/" + content.id%> method="post">
                      <td><input type="image" src=<%=downvote%>></td>
                    </form>
                    <td><a class="comments" href=<%-"/link/" + content.id + "/comments"%>>Comments</a></td>
                  </tr>
                </table>
            </li>
            <% })%>
            <hr>
          </span>
        </ul>
      </div>

      <div id="pages">
        <ul class="pagination">
          <% var next = page + 1 %>
          <% var previous = page - 1 %>
          <% if (page === 0) { %>
            <li><a href=<%-"/" + type +"/" + next%>>Next»</a></li>
          <% } else { %>
            <li><a href=<%-"/" + type +"/" + previous%>>«Previous</a></li>
            <li><a href=<%-"/" + type +"/" + next%>>Next»</a></li>
          <% } %>

        </ul>
      </div>
    </body>
</html>
