extends layout.pug

block content
    h1 
        a(href=post.url) #{post.title}
    h4 
        a(href="/r/" + post.subreddit.name) /r/#{post.subreddit.name}
    //a(href=post.url) #{post.url}
    p Created by: #{post.user.username} 
        span on #{post.createdAt}
    p Score: #{post.voteScore} Upvotes: #{post.numUpvotes} Downvotes: #{post.numDownvotes}
    
    form(action="/vote" method="post")
        input(type='hidden' name='postId' value=post.id)
        button(type='submit' name='vote' value=1) Upvote This!
        button(type='submit' name='vote' value=-1) Downvote This!
    if loggedInUser
        br
        input(type='checkbox' id='toggleComment')
        label(for='toggleComment' id='toggleCommentLabel')
        div(class='commentBox' id='expand')
            form(action="/createComment" method="post")
                input(type='hidden' name='commentPostId' value=post.id)
                textarea(class='comment_text' name='commentText' placeholder='comment here')
                br
                button(type='submit' name='comment') Comment!
    h4 #{comments.length} Comments
    ul.comment-list
        each comment in comments
            li.comment
                div
                    h3 !{comment.markedText}
                    p Submitted by #{comment.username} on #{comment.createdAt}
            