mixin postList(posts)
    ul.post-list
        if isSubreddit
            - var subName = isSubreddit.name
            - var subDesc = isSubreddit.description
            
            h2 Welcome To r/#{isSubreddit.name}
            h3 #{isSubreddit.description}
            h3 SORT POSTS BY:
            ul
                li
                    a(href="/r/" + subName + "/top") TOP 
                li
                    a(href="/r/" + subName + "/hot") HOT
                li
                    a(href="/r/" + subName) NEW
        else
            h3 SORT POSTS BY:
                li
                    a(href="/sort/top") TOP
                li
                    a(href="/sort/hot") HOT
                li
                    a(href="/") NEW
        
        if loggedInUser
            each post in posts
                -var postId = post.id
                li.post
                    form(action = "/vote", method = "POST")
                        h2
                            a(href=post.url, target="_blank")= post.title
                            p Submitted by 
                                a(href="/u/" + post.user.username) u/#{post.user.username}
                                span  in 
                                a(href="/r/" + post.subreddit.name) r/#{post.subreddit.name}
                            p Score: #{post.voteScore} Upvotes: #{post.numUpvotes} Downvotes: #{post.numDownvotes}
                            p
                                input(type="hidden", name="postId" value = postId)
                                button(type="submit", name = "voteDirection" value = 1) Upvote
                                button(type="submit", name = "voteDirection" value = -1) Downvote
        else
            each post in posts
                li.post
                    h2
                        a(href=post.url, target="_blank")= post.title
                        p Submitted by 
                            a(href="/u/" + post.user.username) u/#{post.user.username}
                            span  in 
                            a(href="/r/" + post.subreddit.name) r/#{post.subreddit.name}
                        p Score: #{post.voteScore} Upvotes: #{post.numUpvotes} Downvotes: #{post.numDownvotes}