mixin postList(posts)
    ul(class="mainlist").post-list
        each post in posts
            li(class="liststyle").post
                h2
        
                    img(src= "/static/slide1.jpg")
                    a(class="postTitle")(href=post.url, target="_blank")= post.title
                    p Submitted by
                        a(class="mainListLinkTwo")(href="/u/" + post.user.username)= post.user.username
                        span  in
                        a(class="mainListOne")(href="/r/" + post.subreddit.name) /r/#{post.subreddit.name}
                    p(class="postScore") Score: #{post.voteScore} Upvotes: #{post.numUpvotes} Downvotes: #{post.numDownvotes}
                    div(class="clear")